<article class="blog-card">
    <a href="{{ site.url }}{{ post.url }}" class="card-link">
        <div class="card-header">
            <time datetime="{{ post.date | date:"%d-%m-%Y" }}" class="card-date">
                {{ post.date | date: "%b %d" }}
            </time>
            {% if post.category %}
                <span class="card-category">{{ post.category }}</span>
            {% endif %}
        </div>
        <div class="card-body">
            <h3 class="card-title">{{ post.title }}</h3>
            <p class="card-excerpt">{{ post.content | strip_html | truncate: 130 }}</p>
        </div>
        <div class="card-footer">
            <span class="card-read-time">
                {{ post.content | number_of_words | divided_by: 200 }} min read
            </span>
        </div>
    </a>
</article>
